@model ClientApp.Models.ViewModels.MenuViewModel

@foreach(var item in Model.Carts)
{
    var quantity = "quant" + item.ID.ToString();
    var price = "pricehoise" + item.ID.ToString();
    var rowamar = "rowamar" + item.ID.ToString();
    
    <tr id="@rowamar">
        <td width="40%">@item.Product.ProductName</td>
        <td width="25%"><button type="button" onclick="komau('@item.ID','@quantity','@price','@item.Product.Price','@rowamar')" class="btn btn-danger quantitybtn float-left mr-3">-</button><span id="@quantity">@item.Quantity</span><button type="button" id="barau" onclick="barau('@item.ID','@quantity','@price','@item.Product.Price')" class="btn btn-danger quantitybtn float-right">+</button></td>
        <td id="@price">@item.Price</td>
    </tr>
}
<tr>
    <td colspan="2" class="modi">Total</td>
    <td id="totalhoise">@ViewData["totalprice"]</td>
</tr>
